
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

 :root{
--color-primary:#F84565;
--color-primary-dull:#D63854

}


*{
    
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #2f2e2e;
}

body{
    color: white;
    background-color: #16161b;
}
@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

.bg-primary {
   background-color: var(--color-primary);
}
.text-primary {
   color: var(--color-primary);
}
.border-primary {
   border-color: var(--color-primary);
}

.marginPy {
  margin-top: 100px !important;
}
